.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 120%;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group .form-control,
.select2-container--default .select2-selection--single {
  width: 100%;
}

body {
  overflow-y: scroll;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(242, 242, 242, 0), rgb(182, 181, 181));
  z-index: -1;
  pointer-events: none;
}

.inner-container {
  background-color: #bababa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 5px;
}

.container h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

/* .select2-container--default {
  padding-top: 20px;
} */

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #535353;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  padding-bottom: 5px;
  margin-top: 15px;
}

.btn-primary:hover {
  background-color: #00ac1a;
}

.form-control:hover {
  border-color: #92a3ff;
}

.valid-input {
  border-color: #00ac1a;
}

/* .select2-container--default .select2-selection--single {
  width: 100%;
} */

.loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loading .spinner-border {
  color: #000000;
  width: 4rem;
  height: 4rem;
  animation-duration: 2s;
}

.loading .visually-hidden {
  color: #000000;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.image-container img {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
  margin-top: 20px;
}
